
/* Wanted Sans Variable: Regular */
@font-face {
	font-family: wanted-sans;
	src: url("../font/WantedSans-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

/* Wanted Sans Variable: Medium */
@font-face {
	font-family: wanted-sans;
	src: url("../font/WantedSans-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

/* Wanted Sans Variable: Semibold */
@font-face {
	font-family: wanted-sans;
	src: url("../font/WantedSans-Semibold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

/* Wanted Sans Variable: Bold */
@font-face {
	font-family: wanted-sans;
	src: url("../font/WantedSans-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* Wanted Sans Variable: Extrabold */
@font-face {
	font-family: wanted-sans;
	src: url("../font/WantedSans-Extrabold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}


* {
	margin: 0;
	padding: 0;
	outline: none;
	word-break: break-all;
	font-variant-numeric: tabular-nums;
	&::before, &::after { outline: none; word-break: break-all; }
}

body {
	margin: 0;
	padding: 0;
	min-width: 280px;
	// font-family: story;
	font-family: wanted-sans;
	font-size: 1rem;
	cursor: default;
	line-height: 1.5;
	overflow-x: hidden;
	color: var(--color-main);
	background-color: var(--color-theme);
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;

	#root { overflow: hidden; }
	&.over { overflow: hidden; }
}

a {
	color: inherit;
	text-decoration: none;
}
small { font-size: 12px; }
button, input, textarea {
	border: none;
	outline: none;
	appearance: none;
	user-select: auto;
}
button { cursor: pointer; }
input, textarea {
	width: 100%;
	height: 100%;
	padding: 8px;
	// font-family: story;
	font-family: wanted-sans;
	font-size: 14px;
	border-radius: 4px;
	background-color: transparent;
	box-sizing: border-box;
}
// input[type=file] { display: none !important; }
button[type=button], button[type=submit] {
	font-size: 14px;
	// font-family: story;
	font-family: wanted-sans;
	background: none;
}
textarea { resize: none; line-height: 1.5; }
table {
	width: 100%;
	table-layout: fixed;
	border-spacing: 0;
	border-collapse: separate;
}
ul, li, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
img, canvas { vertical-align: top; }
pre {
	width: 100%;
	height: auto;
	// font-family: story;
	font-family: wanted-sans;
	// img { width: 100%; }
}

:root {
	font-size: 0.8125rem;

	--main-bg: rgba(255, 255, 255, 1);					// #ffffff;
	--main-color: rgba(50, 50, 50, 1);					// #323232;
	--main-color-64: rgba(50, 50, 50, .64);			// #323232;
	--main-secondary-color: rgba(50, 50, 50, .72);		// #323232;

	--main-border-width: 1px;
	--main-border-style: solid;
	--main-border-color: rgba(222, 226, 230, 0.5);		// #dee2e6;
	--main-border-valid-color: rgba(70, 188, 170, 1);	// #46bcaa;
	--main-border-valid-color-24: rgba(70, 188, 170, .24);// #46bcaa;
	--main-border-invalid-color: rgba(243, 84, 33, 1);	// #f35421;
	--main-border-invalid-color-24: rgba(243, 84, 33, .24);	// #f35421;

	--main-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.072);

	--login-bg: rgba(255, 255, 255, 1);				// #ffffff;
	--login-border-color: rgba(222, 226, 230, 0.5);	// #dee2e6;
	--login-shadow-bg: rgba(206, 212, 218, 1);			// #ced4da;
	
	
	--color-capt: rgba(203, 41, 56, 1);				// #cb2938;
	--color-bsk: rgba(33, 137, 255, 1);				// #2189ff;

}
:root[theme=dark] {
	font-size: 0.8125rem;

	--main-bg: rgba(31, 33, 40, 1);					// #1f2128;
	--main-color: rgba(231, 238, 248, 1);				// #e7eef8;
	--main-color-64: rgba(231, 238, 248, .64);			// #323232;
	--main-secondary-color: rgba(222, 226, 230, .72);	// #dee2e6;
	--main-border-width: 1px;
	--main-border-style: solid;
	--main-border-color: rgba(222, 226, 230, 0.5);		// #dee2e6;
	--main-border-valid-color: rgba(70, 188, 170, 1);	// #46bcaa;
	--main-border-valid-color-24: rgba(70, 188, 170, .24);// #46bcaa;
	--main-border-invalid-color: rgba(243, 84, 33, 1);	// #f35421;
	--main-border-invalid-color-24: rgba(243, 84, 33, .24);	// #f35421;

	--main-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.072);

	--login-bg: rgba(36, 39, 49, 1);					// #242731;
	--login-border-color: rgba(73, 80, 87, 0.5);
	--login-shadow-bg: rgba(26, 29, 32, 1);			// #1a1d20;

	--color-capt: rgba(203, 41, 56, 1);				// #cb2938;
	--color-bsk: rgba(33, 137, 255, 1);				// #2189ff;
}

.fixed { position: fixed !important; }
.absolute { position: absolute !important; }
.relative { position: relative !important; }
.sticky { position: sticky !important; }

.none { display: none !important; }
.block { display: block !important; }
.inline { display: inline !important; }
.flex { display: flex !important; }
.inline-flex { display: inline-flex !important; }

.flex-1 { flex: 1 !important; }
.flex-2 { flex: 2 !important; }
.flex-3 { flex: 3 !important; }
.flex-4 { flex: 4 !important; }
.flex-5 { flex: 5 !important; }

.grow1 { flex-grow: 1; }

.row { flex-flow: row !important; }
.row-wrap { flex-flow: row wrap !important; }
.column { flex-flow: column !important; }
.ai-c { align-items: center !important; }
.ai-s { align-items: flex-start !important; }
.ai-e { align-items: flex-end !important; }
.ji-c { justify-content: center !important; }
.ji-s { justify-content: flex-start !important; }
.ji-e { justify-content: flex-end !important; }
.ji-stretch { justify-content: stretch !important; }

.gap-0 { gap: 0px !important; }
.gap-2 { gap: 2px !important; }
.gap-4 { gap: 4px !important; }
.gap-6 { gap: 6px !important; }
.gap-8 { gap: 8px !important; }
.gap-10 { gap: 10px !important; }
.gap-12 { gap: 12px !important; }
.gap-18 { gap: 18px !important; }

.m-0 { margin: 0 !important; }
.m-2 { margin: 2px !important; }
.m-4 { margin: 4px !important; }
.m-8 { margin: 8px !important; }
.m-16 { margin: 16px !important; }

.mt-0 { margin-top: 0 !important; }
.mt-2 { margin-top: 2px !important; }
.mt-4 { margin-top: 4px !important; }
.mt-8 { margin-top: 8px !important; }
.mt-16 { margin-top: 16px !important; }
.mb-0 { margin-bottom: 0 !important; }
.mb-2 { margin-bottom: 2px !important; }
.mb-4 { margin-bottom: 4px !important; }
.mb-8 { margin-bottom: 8px !important; }
.mb-16 { margin-bottom: 16px !important; }

.ml-4 { margin-left: 4px !important; }
.ml-8 { margin-left: 8px !important; }
.mr-4 { margin-right: 4px !important; }
.mr-8 { margin-right: 8px !important; }

.p-0 { padding: 0 !important; }
.p-2 { padding: 2px !important; }
.p-4 { padding: 4px !important; }
.p-8 { padding: 8px !important; }
.p-12 { padding: 12px !important; }
.p-16 { padding: 16px !important; }
.pr-0 { padding-right: 0 !important; }
.pr-2 { padding-right: 2px !important; }
.pr-4 { padding-right: 4px !important; }
.pr-8 { padding-right: 8px !important; }
.pr-10 { padding-right: 10px !important; }
.pr-16 { padding-right: 16px !important; }
.pr-20 { padding-right: 20px !important; }
.pl-0 { padding-left: 0 !important; }
.pl-2 { padding-left: 2px !important; }
.pl-4 { padding-left: 4px !important; }
.pl-8 { padding-left: 8px !important; }
.pl-16 { padding-left: 16px !important; }
.pl-20 { padding-left: 20px !important; }
.pl-24 { padding-left: 24px !important; }
.pt-0 { padding-top: 0 !important; }
.pt-2 { padding-top: 2px !important; }
.pt-4 { padding-top: 4px !important; }
.pt-8 { padding-top: 8px !important; }
.pt-16 { padding-top: 16px !important; }
.pb-0 { padding-bottom: 0 !important; }
.pb-2 { padding-bottom: 2px !important; }
.pb-4 { padding-bottom: 4px !important; }
.pb-8 { padding-bottom: 8px !important; }
.pb-16 { padding-bottom: 16px !important; }

.w-100 { width: 100% !important; }
.h-100 { height: 100% !important; }

.min-480 { min-width: 480px !important; }
.min-576 { min-width: 576px !important; }
.min-768 { min-width: 768px !important; }
.min-850 { min-width: 850px !important; }
.min-968 { min-width: 968px !important; }
.min-1024 { min-width: 1024px !important; }
.min-1152 { min-width: 1152px !important; }
.min-1280 { min-width: 1280px !important; }
.min-1336 { min-width: 1336px !important; }

.min-h-96 { min-height: 96px !important; }
.min-h-128 { min-height: 128px !important; }

.align-l { text-align: left !important; }
.align-c { text-align: center !important; }
.align-r { text-align: right !important; }

.bold { font-weight: bold !important; }
.normal { font-weight: normal !important; }
.pointer { cursor: pointer !important; }
.default { cursor: default !important; }

.sz-10 { font-size: 10px !important; }
.sz-12 { font-size: 12px !important; }
.sz-14 { font-size: 14px !important; }
.sz-16 { font-size: 16px !important; }
.sz-18 { font-size: 18px !important; }
.sz-20 { font-size: 20px !important; }
.sz-22 { font-size: 22px !important; }
.sz-24 { font-size: 24px !important; }

.color-red { color: #ff0000 !important; }
.color-blue { color: #0000ff !important; }
.color-orange { color: #ffa456 !important; }
.color-sky-blue { color: #2189ff !important; }
.color-ci { color: var(--color-ci) !important; }

.line-through { text-decoration: line-through !important; }