$card-spacer-y: 1.5rem;
$card-spacer-x: 1.5rem;
$card-title-spacer-y: 0.5rem;
// $card-title-color: ;
// $card-subtitle-color: ;
$card-border-width: 0;
$card-border-color: #dee2e6;
$card-border-radius: 2rem;
$card-box-shadow: 0 1.6rem 3rem rgba(0, 0, 0, 0.1);
$card-inner-border-radius: 2rem;
$card-cap-padding-y: 0.75rem;
$card-cap-padding-x: 1.5rem;
$card-cap-bg: rgba(222, 226, 230, 0.04);
$card-bg: #ffffff;
$card-img-overlay-padding: 1rem;
$card-group-margin: 0.75rem;